* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto&display=swap');

/*   font-family: 'Anton', sans-serif; */

.container {
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width:1663px) {
    .video-div h1 {
        display: none;
    }
    .video-div p {
        display: none;
    }
    .video-div h3 {
        display: none;
    }
}


/* top header */

.top-sony img {
    width: 120px;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-sony {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.first-section {
    background: black;
    width: 100%;
}


/* top header */


/* header */

.header-section {
    width: 100%;
    background: rgb(255, 255, 255);
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

#logo {
    width: 50px;
    margin-top: 15px;
    margin-left: 20px;
}

.header {
    width: 100%;
}

.navigation-ul {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    flex-wrap: wrap;
}

.navigation-li {
    padding-right: 40px;
}

.navigation-li a {
    color: #1f1f1f;
    font-size: 19px;
    font-family: 'Anton', sans-serif;
    transition: 0.3s ease-in-out;
    transition-property: all;
}

.navigation {
    display: flex;
}

.search-ul {
    display: flex;
    justify-content: flex-end;
    margin-top: -30px;
    margin-right: 40px;
}

.search-li {
    margin-top: -6px;
}

#sign {
    margin-top: -20px;
}

#search-a ::placeholder {
    font-size: 22px;
    color: black;
}

.search-li {
    font-family: "SST W20 Medium", helvetica, arial, sans-serif;
    padding-right: 15px;
    font-size: 19px;
    cursor: pointer;
}

.search-li input {
    border: 1px solid #363636;
    border-radius: 3px;
}

.sign {
    border: 1px solid #363636;
    color: white;
    background: #363636;
    padding: 10px;
    border-radius: 30px;
    margin-top: -10px;
    padding-left: 13px;
    padding-right: 13px;
}

#search {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-right: 15px;
    margin-top: -15px;
    font-size: 10px;
    margin-left: 20px;
    outline: none;
}

.search-ul i {
    font-size: 33px;
    margin-top: -8px;
    margin-left: -25px;
    cursor: pointer;
}

#bar {
    color: black;
    display: none;
}

#x {
    color: black;
    display: none;
    z-index: 1;
    cursor: pointer;
    margin-top: 9px;
    margin-left: 5px;
}

.navigation-li :hover {
    color: #1b36bb;
}


/* header */


/* banner section */

.banner-parent img {
    background: url();
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(60%);
    width: 100%;
}

.banner-section {
    width: 100%;
}

.banner-text {
    color: white;
    position: relative;
}

.sign:hover {
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.589);
}

.sign {
    transition: 0.3s ease-in-out;
}

.banner-text p {
    font-size: 22px;
    margin-left: 90px;
    margin-top: 10px;
    position: absolute;
    bottom: 200px;
}

.banner-text img {
    width: 400px;
    bottom: 300px;
    position: absolute;
    margin-left: 90px;
}

#buy {
    position: absolute;
    bottom: 120px;
    margin-left: 110px;
    border: 1px solid #CD3D0F;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 30px;
    background: #CD3D0F;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#buy:hover {
    border: 1px solid #852809;
    background: #852809;
}

@media only screen and (max-width:326px) {
    #search {
        display: none;
    }
}

@media only screen and (max-width:1185px) {
    .navigation-ul {
        flex-direction: column;
        position: absolute;
        z-index: 1;
        background: white;
        line-height: 1;
        width: 100%;
        text-align: center;
        margin-left: -1px;
        display: none;
        z-index: -1;
    }
    #bar {
        display: block;
        margin-left: 20px;
        margin-top: 9.5px;
        cursor: pointer;
    }
    .navigation-li a {
        font-size: 40px;
        color: black;
    }
    .navigation-li {
        padding-top: 63px;
    }
    .banner-text img {
        display: none;
    }
    .banner-parent img {
        width: 100%;
        height: 600px;
    }
    .navigation {
        justify-content: flex-start;
    }
}

@media only screen and (max-width:590px) {
    .myps {
        display: none;
    }
}

@media only screen and (max-width:1114px) {
    .banner-parent img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width:697px) {
    .banner-text {
        display: none;
    }
}

@media only screen and (max-width:427px) {
    .sign {
        display: none;
    }
}

@media only screen and (max-width:315px) {
    .search-ul {
        display: none;
    }
}


/* banner section */


/* slide section */

.slide-imgs {
    display: flex;
    justify-content: center;
    filter: brightness(60%);
    flex-wrap: wrap;
}

.slide-imgs img {
    width: 200px;
    transition: 0.3s ease-in-out;
    border-radius: 13px;
    cursor: pointer;
}

.slide-imgs>img {
    margin: 10px;
}

.slide-imgs img:hover {
    transform: scale(1.1);
}


/* slide section */


/* limit-section */

.limit-text {
    text-align: center;
    margin-top: 100px;
    font-family: 'Anton', sans-serif;
}

#first-p {
    color: #2888D6;
}

.limit-text h1 {
    color: #1F1F1F;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ps5-text {
    font-family: 'Anton', sans-serif;
    margin-top: 200px;
}

.limit-text p {
    color: #7F7F7F;
}

.ps5-text h1 {
    color: #1F1F1F;
    font-size: 40px;
}

.ps5-text p {
    color: #A2A2A2;
    font-size: 20px;
    margin-top: 20px;
}

.ps5-text h2 {
    margin-top: 40px;
    font-size: 20px;
    border: 1px solid #2D64E6;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    background: #2D64E6;
    color: white;
    cursor: pointer;
}

#main-ps5 {
    width: 800px;
    margin-left: 40px;
    margin-top: -50px;
}

.ps5-parent {
    display: flex;
    margin-top: 200px;
    justify-content: center;
}

#learn:hover {
    background: none;
    border: none;
    color: black;
}

#learn {
    transition: 0.3s ease-in-out;
}

.together-ps5 img {
    width: 160px;
}

@media (max-width:1321px) {
    #main-ps5 {
        width: 500px;
        align-items: center;
    }
    .ps5-parent {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .header {
        width: 100%;
    }
}

@media only screen and (max-width:879px) {
    #main-ps5 {
        width: 300px;
        margin-top: 100px;
    }
    .video-div img {
        width: 50%;
        background-size: cover;
    }
}

.together-ps5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 40px;
}

.together-ps5>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-right: 80px;
}

.together-ps5 p {
    font-size: 17px;
    font-family: 'Anton', sans-serif;
    color: #5C5C5C;
    display: flex;
    justify-content: center;
}


/* limit-section */


/* video section */

.video-div {
    background: url("https://images.pushsquare.com/d7076b5addb99/playstation-indies-ps5.original.jpg");
    width: 100%;
    margin-top: 40px;
    height: 725px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 550px;
}

.video-div h1 {
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 35px;
}

.video-div p {
    color: white;
    font-family: 'Anton', sans-serif;
    margin-top: 10px;
    font-size: 17px;
}

.video-div h3 {
    display: inline-block;
    border: 1px solid white;
    padding: 15px;
    border-radius: 25px;
    background: white;
    color: black;
    font-size: 17px;
    cursor: pointer;
    font-family: 'Anton', sans-serif;
    margin-top: 27px;
    transition: 0.3s ease-in-out;
}

.video-div h3:hover {
    border: none;
    background: none;
    color: white;
}

@media only screen and (max-width:1175px) {
    .video-div {
        width: 100%;
        height: 400px;
    }
    .video-div h3 {
        display: none;
    }
    .video-div p {
        display: none;
    }
    .video-div h1 {
        display: none;
    }
}

@media only screen and (min-width:1731px) {
    .video-div {
        background: url('https://gmedia.playstation.com/is/image/SIEPDC/ps-indies-hero-background-01-en-01jul20?$native$');
        width: 100%;
    }
    #indies {
        font-size: 60px;
    }
}

@media only screen and (max-width:849px) {
    .video-div {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background: url('https://gmedia.playstation.com/is/image/SIEPDC/ps-indies-hero-background-01-en-01jul20?$native$');
    }
}


/* video section */


/* games section */

.games-section {
    width: 100%;
    background: #1F1F1F;
}

.games-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.games-1 img {
    width: 200px;
    margin-right: 30px;
    border-radius: 15px;
    cursor: pointer;
}

.games-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.games-2 img {
    width: 200px;
    margin-right: 30px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 40px;
}

.games-text {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 19px;
    margin-left: 105px;
}

.games-text h3 {
    margin-top: 10px;
}

.games-1 p {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 17px;
}

.games-2 p {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 17px;
}

@media only screen and (max-width:418px) {
    .games-text {
        text-align: center;
        margin: 0;
    }
}

@media only screen and (max-width:343px) {
    .games-text {
        margin: 0;
    }
    #main-ps5 {
        width: 250px;
        margin-bottom: 200px;
    }
}


/* games section */


/* explore section */

.explore-section {
    width: 100%;
}

.explore-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}

.explore-parent img {
    width: 400px;
    cursor: pointer;
}

.ps-vr {
    margin-top: -40px;
}

.explore-parent h1 {
    font-size: 30px;
    color: #1F1F1F;
    font-family: 'Anton', sans-serif;
}

.explore-parent p {
    color: #A2A2A2;
    font-size: 17px;
    font-family: 'Anton', sans-serif;
}

.explore-parent>div {
    margin-right: 20px;
    margin-left: 20px;
}

.explore-parent h3 {
    margin-top: 20px;
    font-size: 17px;
    border: 1px solid #2D64E6;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    background: #2D64E6;
    color: white;
    cursor: pointer;
    font-family: 'Anton', sans-serif;
    transition: 0.3s ease-in-out;
}

.explore-text {
    text-align: center;
    margin-top: 50px;
}

.explore-text h1 {
    color: #1F1F1F;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

.explore-text p {
    font-family: 'Anton', sans-serif;
    color: #8E8E8E;
    font-size: 19px;
}

.explore-parent h3:hover {
    border: 3px solid black;
    background: rgb(61, 61, 61);
}

@media only screen and (max-width:870px) {
    .explore-parent>div {
        margin-top: 10px;
    }
    .explore-parent h1 {
        text-align: center;
    }
    .explore-parent p {
        text-align: center;
    }
    .explore-parent h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:401px) {
    .explore-parent img {
        width: 300px;
    }
    .explore-parent h1 {
        text-align: center;
    }
}


/* explore section */


/* ps plus section */

.ps-plus-section {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://gmedia.playstation.com/is/image/SIEPDC/ps-plus-this-month-on-plus-background-desktop-en-02-25mar21?$2400px--t$");
    height: 500px;
}

.ps-plus-txt img {
    width: 500px;
}

.ps-plus-txt {
    margin-top: 150px;
}

.ps-plus-txt p {
    color: #3C3C3B;
    font-size: 17px;
    font-family: 'Anton', sans-serif;
    margin-left: 30px;
}

.ps-plus-txt h3 {
    margin-top: 50px;
    color: #2D64E6;
    display: inline-block;
    border: 1px solid #D9DADC;
    padding: 10px;
    border-radius: 20px;
    background: #D9DADC;
    box-shadow: 1px 1px 1px 1px #bbbbbb;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.ps-plus-txt h3:hover {
    box-shadow: 2px 2px 2px 2px #7c7c7c;
}

.ps-plus-img img {
    width: 680px;
}

.ps-plus-parent {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width:1190px) {
    .ps-plus-img img {
        width: 600px;
        margin-top: 50px;
    }
    .ps-plus-parent {
        flex-direction: column;
        text-align: center;
    }
    .ps-plus-section {
        height: 950px;
    }
}

@media only screen and (max-width:620px) {
    .ps-plus-txt img {
        width: 300px;
    }
    .ps-plus-img img {
        width: 200px;
    }
}


/* deals section */

.store-text {
    text-align: center;
}

.deals-section {
    width: 100%;
}

.deals-parent img {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
}

.deals-parent img {
    margin-top: 10px;
}

.store-text {
    margin-top: 50px;
}

.store-text h1 {
    color: #1D1D1D;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

.store-text p {
    font-family: 'Anton', sans-serif;
    font-size: 19px;
    color: #A2A2A2;
    margin-top: 20px;
}

.deals-parent img {
    width: 450px;
}

.deals-parent {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    flex-wrap: wrap;
}

.deals-parent>div {
    cursor: pointer;
}

@media (max-width:507px) {
    .deals-parent img {
        width: 100%;
        margin: 0;
    }
    .deals-parent img {
        margin-top: 10px;
    }
    .games-text {
        margin-right: 40px;
    }
}


/* deals section */


/* ps now section */

.ps-now-section {
    width: 100%;
    background-image: url("../images/block-background.png");
}

.ps-now-text img {
    width: 500px;
}

.ps-now-img img {
    width: 650px;
}

.ps-now-text {
    margin-top: 100px;
}

.ps-now-text p {
    color: #F5F5F5;
    font-family: 'Anton', sans-serif;
    font-size: 17px;
}

.ps-now-text h3 {
    margin-top: 40px;
    color: black;
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    font-family: 'Anton', sans-serif;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16.5px;
    transition: 0.3s ease-in-out;
}

.ps-now-text h3:hover {
    box-shadow: 2px 2px 2px 2px rgb(63, 63, 63);
}

.ps-now-parent {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width:1150px) {
    .ps-now-text img {
        width: 300px;
    }
    .ps-now-img img {
        width: 400px;
    }
}

@media only screen and (max-width:510px) {
    .ps-plus-text img {
        display: none;
    }
}

@media only screen and (max-width:742px) {
    .ps-now-parent {
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width:464px) {
    .ps-now-img img {
        width: 200px;
    }
    .ps-now-parent {
        height: 700px;
    }
    .deals-parent img {
        width: 250px;
    }
}


/* ps now section */


/* social media */

.social-imgs img {
    width: 160px;
    margin-top: 30px;
}

.social-imgs>img {
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.social-imgs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.follow-us h1 {
    text-align: center;
    margin-top: 60px;
    color: #1F1F1F;
    font-size: 40px;
}


/* social media */


/* footer */

.footer {
    background: #1b36bb;
}

#ps {
    width: 100px;
    margin-top: 50px;
}

#sony-global {
    width: 110px;
    margin-top: 120px;
    cursor: pointer;
}

.region {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    color: white;
}

.footer-parent {
    display: flex;
    justify-content: space-around;
}

.footer-parent div {
    display: flex;
    margin-top: 50px;
}

.uls-div div {
    display: flex;
}

.uls-div ul {
    margin-right: 90px;
}

.uls-div li {
    color: white;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Anton', sans-serif;
    font-size: 15px;
}

.uls-div>li {
    margin-top: 50px;
}

#ersb {
    width: 50px;
    align-self: flex-end;
    cursor: pointer;
}

@media only screen and (max-width:752px) {
    .footer-parent {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 745px) {
    .uls-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #ersb {
        align-self: center;
        margin-top: 10px;
        margin-right: 90px;
    }
}


/* footer */